≈#**********************************************************************************************
# Title: .gitignore
# Description: List with files that should be ignored when versioning with git
# Author: Sebastian Sonntag
# Date: 2016-06-10
# License: 
#**********************************************************************************************

.CFUserTextEncoding
.DS_Store
.Trash
.anaconda/
.android/
.anyconnect
.atom/*
.bash_history
.bash_sessions
.cache
.cisco/
.conda/
.config
.continuum/
.cups
.dropbox
.emacs.d/
.local/
.matplotlib/
.oh-my-zsh/
.oracle_jre_usage
.pylint.d/
.ssh
.stCommitMsg
.subversion/
.tmux/
.vim/*
.viminfo
.vscode
.zcompdump-Sebastians MacBook Air-5.0.8
.zsh-update
.zsh_history
Aktuelles
Arbeit
Auto
Desktop
Documents
Dokumente
Dokumente
Downloads
Dropbox
Library
Movies
Music
Pictures
Programmieren
Public
Schiesssport
Schreibtisch
Segeln
System
Uni
directory_history
iCloud Drive
