"*":
  "autocomplete-python":
    useKite: false
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 12
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "7dba7a1a-990f-432a-9e9e-81757d389775"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  welcome:
    showOnStartup: false
